.parallax {
    background-size: contain;
}

.pl1 {
    background-image: url("../resources/martyparallax2.png");
    height: 100vh;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1) inset;
}

.pl2 {
    background-image: url("../resources/martyparallax3.png");
    height: 100vh;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1) inset;
}

.caption {
    display: block;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
    position: fixed;
    opacity: 0;
}

.caption + .fade1 {
    opacity: 0.75;
}

.caption p {
    background-color: #111;
    width: fit-content;
    color: #fff;
    margin: auto;
    padding: 18px;
    font-size: 15px;
    letter-spacing: 3px;
}

.caption p a {
    color: #eee;
}

@media screen and (min-width: 800px) {
    .caption p {
        font-size: 25px;
        letter-spacing: 10px;
    }
}