.card-container:hover {
    background-color: rgba(73, 73, 73, 0.25);
}

.card-container1 {
    flex-direction: column;
    margin: 15px 1% 0px 1%;
    box-shadow: 0 4px 8px 0 rgba(139, 22, 22, 0.2);
    width: 98%;
    max-width: 800px;
    background-color: rgba(110, 28, 28, 0.1);
    transition-property: 1s;
    animation: 0.5s ease-out 0s 1 bounce;
    height: inherit;
}