.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: stretch;
 }

.side-bar {
    display: none;
    top: 59px;
    position: fixed;
    right: 0;
    float: right;
    width: fit-content;
    height: fit-content;
    background-color: black;
    border-bottom-left-radius: 10px;
}

.side-bar>ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

.side-bar>ul>li>a {
    color: white;
    text-decoration: unset;
    font-size: 20px;
}

.side-bar>ul>li>a:hover {
    color: purple;
}