body {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    position: relative;
}

header .text {
    margin: 0px;
    padding-top: 20px;
    color: white;
    font-size: 30px;
}

header .link {
    margin-left: 5px;
    height: fit-content;
    display: none;
}

header img {
    height: 80px;
}

header nav input {
    display: none;
}

header nav {
    position: relative;
    margin-left: auto;
}

header nav .hamburgerbutton {
    font-size: 40px;
    margin-right: 20px;
}

header nav ul {
    display: none;
    list-style: none;
    position: absolute;
    left: -83px;
    padding: 0px;
}

header nav ul ul {
    display: none;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
    display: block;
    background-color: black;
    border: 1px solid #2e2e2e;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

@media screen and (min-width: 436px) {
    header .link {
        display:flex;
    }
}

@media screen and (max-width: 600px) {
    header nav #hammenu:checked + ul {
        display: block;
    }
}

header nav a:hover {
    background-color: #2e2e2e;
}

@media screen and (min-width: 601px) {
    header img {
        height: 60px;
    }

    header nav {
        height: 60px;
    }

    header .link {
        padding-top: 19px;
        margin-top: 0px;
        font-size: 20px;
    }

    header .text {
        padding-top: 19px;
        margin-top: 0px;
        font-size: 20px;
    }

    header nav ul {
        position: relative;
        display: flex;
        left: 0px;
        height: 100%;
        margin: 0px;
        margin-left: auto;
    }

    header nav .hamburgerbutton {
        display: none;
        background-color:red;
    }

    header nav a {
        position: relative;
        padding-top: 0px;
    }
}