body {
    padding: 0px;
    margin: 0px;
}

.homebar {
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 999;
    height: 40px;
}

.homebar-reserve {
    height: 40px;
    width: 100%;
}

.homebar .text {
    line-height: 40px;
    margin: 0px;
    height: 100%;
    color: white;
    font-size: 30px;
}

.homebar .link {
    margin-left: 5px;
    height: fit-content;
    display: none;
}

.homebar img {
    height: 40px;
}

.homebar nav input {
    display: none;
}

.homebar nav {
    position: relative;
    margin-left: auto;
}

.homebar .hamburgerbutton {
    font-size: 40px;
    margin-right: 20px;
}

.homebar ul {
    display: flex;
    margin: 0px;
    list-style: none;
    position: absolute;
    left: 100%;
    padding: 0px;
}

.homebar nav ul ul {
    display: none;
}

.homebar nav li:hover > ul {
    display: block;
    width: 100%;
    left: -200%;
    top: 0%;
}

.homebar nav a {
    background-color: black;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
    display: block;
}

.homebar nav a:hover {
    background-color: #2e2e2e;
}

.homebar nav ul ul {
    transition: all 0s;
}

@media screen and (min-width: 300px) {
    .homebar .link {
        display: flex;
        font-size: 6vw;
    }
}

@media screen and (min-width: 480px) {
    .homebar .link {
        color: white;
        display:flex;
        font-size: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .homebar ul {
        transform: translateX(100%);
        transition: all 1s;
    }

    .homebar nav > ul {
        display: block;
    }
    
    .homebar nav .hammenu:checked + ul {
        display: block;
        transform: translateX(calc(-100%));
        transition: all 1s;
    }
}

@media screen and (min-width: 1024px) {
    .homebar {
        height: 60px;
    }

    .header-reserve {
        height: 60px;
    }

    .homebar img {
        height: 60px;
    }

    .homebar .text {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    .homebar nav .hammenu:checked + ul {
        display: flex;
    }

    .homebar nav .hammenu:checked + ul {
        display: block;
    }

    .homebar nav ul {
        position: relative;
        display: flex;
        left: 0px;
        height: 100%;
        margin-left: auto;
    }

    .homebar nav li:hover > ul {
        display: relative;
        top: 0px;
        width: 100%;
        left: 0px;
    }

    .homebar nav .hamburgerbutton {
        display: none;
        background-color:red;
    }

    .homebar nav ul li a {
        position: relative;
    }

    .homebar nav a {
        background-color: black;
        border-bottom: 0px;
    }
}