.header-bar {
    height: 80px;
}

.header-reserve {
    height: 80px;
}

.header-link, .header-buttontext, .footer-text {
    vertical-align: middle;
    color: white;
    float: left;
}

.header-button {
    float: right;
    width: 20%;
}

.header-buttontext {
    width: fit-content;
    width: 100%;
    height: inherit;
    margin-top: 20px;
    font-size: 30px;
}

.header-link {
    display: none;
}

.footer-bar {
    display: none;
}